

body{margin:0;background:#004A70;}
html,body{height: 100%;}
#Content{width:100%;height:100%;display:block;}
svg text{
	dominant-baseline:central;
	font-family:"Noto Sans JP",sans-serif;
	stroke-linejoin:round;stroke-linecap:round;
	user-select:none;
}


